/* Navbar.css */
.navbar {
    min-height: 60px; /* Set the minimum height in pixels */
    height: 8vh; 
    background: linear-gradient(to bottom, rgba(13, 15, 16, 1) 0%, rgba(13, 15, 16, 0.75) 100%);
}

/* Navbar.css */


.nav-item {
    padding: auto 10px;
    margin: auto 10px; /* Adjust margin as needed */
}

.nav-link {
    color: white;
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
}

.nav-item:hover .nav-link {
    background-color: grey; /* Add background color on hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add box shadow for lighting up effect */
}

